doctype html
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/javascripts/lib/bootstrap/dist/css/bootstrap.css')

    script(src="javascripts/lib/jquery/jquery.min.js")
    script(src='javascripts/lib/angular/angular.js')
    script(src='javascripts/lib/angular-route/angular-route.js')
    script(src='javascripts/lib/bootstrap/dist/js/bootstrap.js')
    script(src='javascripts/app.js')
    script(src='javascripts/services.js')
    script(src='javascripts/controllers.js')
    script(src='javascripts/filters.js')
    script(src='javascripts/directives.js')
  body
    block content
