<div style="text-align:center">
    <h2>
        Welcome to Accident Analysis home
    </h2>
    <div class = "row">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">

            <h3>
                SafeTrip application which caters to Commuters and Transport officials provides multitude of

                features. It allows officials to predict the number and rate of accidents based on previous

                incident details. Administration can enforce speed limits and necessary precautions in the

                high risk areas as per details of time and speed. Administration can compare and contrast

                the incident rate increase/decrease over the period of time.(A graphical representation of the

                incidents over years). Administration can improve the response team’s performance by

                analysing and revising the response team requirements and case investigation times.

                Administration can improvise on investigation of the incident The application is useful to

                commuter as it provides the details of high risk areas/Zones to be cautious about.
            </h3>
        </div>
        <div class="col-xs-2"></div>
    </div>
</div>